
<tbody class="tbodylstcarte" style="height:25rem !important;">
    {% for item in lstcarte %}
    <tr>
        <td><input type="checkbox" class="checklibelle2 " value="{{item.ID_Carte}}" id="checklibelle2"></td>
    <td class="idcarteFact" data-id="{{item.ID_Carte}}">{{item.ID_Carte}}</td>
    <td>{{item.Client}}</td>
    <td>{{item.Bénéficiaire}}</td>
    </tr>
    
    {% endfor %}
                                </tbody>
                                